<div class='movieById'>
  <h2>{{movie.title}}</h2>
  <img src='{{movie.image}}' alt='{{movie.title}}' />
  <md-block>{{movie.intro}}</md-block>
  {{#if imdbRating}}
    <p>IMDb Rating: {{imdbRating}}</p>
  {{else}}
    <p>IMDb Rating: N/A</p>
  {{/if}}
</div>
