<div class='movieById'>
  <h2>{{movie.title}}</h2>
  <img src='{{movie.image}}' alt='{{movie.title}}' />
  <md-block>{{movie.intro}}</md-block>
  
  {{#if rating}}
    <p>Rating: {{rating}}</p>
  {{else}}
    <p>No rating available</p>
  {{/if}}

</div>